<table class="table">
  <thead>
    <tr>
      <th style="text-align:center;width: 70px">编号</th>
      <th style="text-align:center;width: 70px">姓名</th>
      <th style="text-align:center;width: 70px">电话</th>
      <th style="text-align:center;width: 70px">余额</th>
      <th style="text-align:center;width: 70px"></th>
      <% if current_login.id == 1 %>
          <th style="text-align:center;width: 70px"></th>
          <th style="text-align:center;width: 70px"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="text-align:center;width: 70px"><%= user.id %></td>
        <td style="text-align:center;width: 70px"><%= user.name %></td>
        <td style="text-align:center;width: 70px"><%= user.phone %></td>
        <td style="text-align:center;width: 70px" class="money"><%= user.money %></td>
        <td style="text-align:center;width: 70px"><%= link_to '明细', '/users/'+user.id.to_s %></td>
        <% if current_login.id == 1 %>
            <td style="text-align:center;width: 70px"><%= link_to '充值', '/recharge?user_id='+user.id.to_s %></td>
            <td style="text-align:center;width: 70px"><%= link_to '编辑', '/users/'+user.id.to_s+'/edit' %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<button id="test">test</button>

<script>
    $("#test").click(function() {
        var ms = $("table.table>tbody>tr>td.money");
        var j = ms.length;
        var money = 0;
        for (var i=0;i<5;i++){
            if(ms[i].innerHTML != ""){
                a = parseFloat(ms[i].innerHTML)
                money += a;
            }
        };
        console.log(money.toString());
        alert("总余额：" + money.toString());
    });
</script>