<!--<p id="notice"><%= notice %></p>-->
<p>
  <strong>编号:</strong>
  <%= @user.id %>
</p>
<p>
  <strong>姓名:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>电话:</strong>
  <%= @user.phone %>
</p>

<table class="table">
  <thead>
  <tr>
    <th style="text-align:center;width: 70px">日期</th>
    <th style="text-align:center;width: 70px">地点</th>
    <th style="text-align:center;width: 70px">充值/消费</th>
  </tr>
  </thead>

  <tbody>
  <% @user.infos.sort{|a,b| b.date <=> a.date}.each do |info| %>
      <tr>
        <td style="text-align:center;width: 70px"><%= info.date %></td>
        <td style="text-align:center;width: 70px"><%= info.address %></td>
        <td style="text-align:center;width: 70px"><%= info.money %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<!-- <%= form_for [@user,@user.infos.build] do |f| %>
    <p><%= f.text_area :money, :size => '40x10' %> </p>
    <p><%= f.text_area :date, :size => '40x10' %> </p>
    <p><%= f.text_area :address, :size => '40x10' %> </p>
    <p><%= f.submit "Post Comment" %> </p>
<% end %> -->