<!DOCTYPE html>
<html>

  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Manage" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body style="background-color: #eee;">

    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
      <% if login_signed_in? %>
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span2">
                <div id="sidebar-wrapper" style="width: 20%;float: left;">
                  <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <% if login_signed_in? %>
                            <%= link_to '退出', destroy_login_session_path, :method => :delete %>
                        <% else %>
                            <%= link_to '登陆', new_login_session_path %>
                        <% end %>
                        <li>
                          <a href="/users">成员列表</a>
                        </li>
                        <li>
                          <a href="/chart">图标</a>
                        </li>
                        <% if current_login.id == 1 %>
                        <li>
                          <%= link_to '添加成员', '/users/new' %>
                        </li>
                        <li>
                          <%= link_to '集体消费', '/collective_consumption' %>
                        </li>
                        <% end %>
                        <li>
                          <a href="#">开发中..</a>
                        </li>
                    </li>
                  </ul>
                </div>
                <div class="container" style="width: 80%;float: right;">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
      <% else %>
          <div class="container">
            <%= yield %>
          </div>
      <% end %>
    </main>
  </body>

</html>
